<h2 class="content-block">Tour of Heroes</h2>
<div class="content-block">
  <div class="dx-card responsive-paddings">
    <!-- <app-page-search></app-page-search> -->
    <div class="search">
      <div class="field">
        <dx-text-box
          placeholder="Enter name"
          valueChangeEvent="keyup"
          [maxLength]="40"
        ></dx-text-box>
      </div>

      <div class="field">
        <dx-select-box
          [dataSource]="heroes"
          displayExpr="id"
          valueExpr="id"
        ></dx-select-box>
      </div>

      <div class="field">
        <dx-select-box
          [dataSource]="heroes"
          displayExpr="name"
          valueExpr="name"
        ></dx-select-box>
      </div>

      <div class="search-btn">
        <dx-button
          stylingMode="contained"
          text="search"
          type="default"
          [width]="120"
          (click)="search()"
        >
        </dx-button>
      </div>
    </div>
    <div class="content" *ngIf="heroes.length; else missing">
      <div class="add-btn">
        <dx-button
          stylingMode="contained"
          text="add a hero"
          type="default"
          [width]="120"
          (click)="add()"
        >
        </dx-button>
      </div>

      <dx-tree-list
        [dataSource]="heroes"
        keyExpr="id"
        [allowColumnResizing]="true"
        [columnAutoWidth]="true"
        [autoExpandAll]="true"
      >
        <dxo-editing
          mode="cell"
          [allowUpdating]="true"
          [allowDeleting]="true"
          [allowAdding]="true"
        >
        </dxo-editing>

        <dxi-column dataField="id" caption="id"> </dxi-column>

        <dxi-column dataField="name" caption="name"> </dxi-column>

        <dxi-column type="buttons">
          <dxi-button name="edit"></dxi-button>
          <dxi-button name="delete"></dxi-button>
        </dxi-column>
      </dx-tree-list>
    </div>

    <ng-template #missing>
      <strong>not found</strong>
    </ng-template>
  </div>
</div>
