.search {
    background-color: rgba(191, 191, 191, 0.15);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-left: 15px;
}

.content {
    margin: 30px 15px;
    
}



